div{
    margin-top: 25%;
    color: #303030;
}

div img{
    width: 10%;
}

p{
    margin-bottom: 3.5%;
    font-weight: 800;
}

.questionContainer{
    margin-bottom: 10%;
}

.ScreeningMarginRight{margin-right: 20px;}