/* div{
    margin: 0 auto;
    margin-top: 25%;
    color: red;
}

div img{
    width: 10%;
}

p{
    margin-bottom: 3.5%;
    font-weight: 800;
} */


.restartContainer{margin-top: -5%; margin-left: -20%;}
.restartContainer{margin-bottom:5%;}
.restartContainer h1{margin: 0 auto;}
.restartContainer p{
    margin-right: 45%;
    margin-bottom: 5%;
}